CREATE TABLE [dbo].[down_folders](
	[fd_id]			[int] IDENTITY(1,1) NOT NULL,
	[fd_name]		[nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[fd_uid]		[int] NULL,
	[fd_mac]		[nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[fd_pathLoc]	[nvarchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[fd_complete]	[bit] NULL,
	[fd_id_old]		[int] NULL CONSTRAINT [DF_down_folders_fd_id_old]  DEFAULT ((0)),
	[fd_percent]	[nvarchar](7) COLLATE Chinese_PRC_CI_AS NULL
) ON [PRIMARY]

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'文件夹名称。' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'down_folders', @level2type=N'COLUMN',@level2name=N'fd_name'

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'down_folders', @level2type=N'COLUMN',@level2name=N'fd_uid'

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'本地文件路径' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'down_folders', @level2type=N'COLUMN',@level2name=N'fd_pathLoc'

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'与xdb_folders.fd_id对应。' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'down_folders', @level2type=N'COLUMN',@level2name=N'fd_id_old'